<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">Auto Park creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.email})}">
    Dear
</p>
<p th:text="#{email.activation.text1}">
    Your Auto Park account has been created, please click on the URL below to activate it:
</p>
<p>
    <a th:href="@{|${baseUrl}/reset/finish?key=${user.resetKey}|}"
       th:text="|${user.email}|">login</a>
</p>
<p>
    <span th:text="#{email.activation.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">Auto Park.</em>
</p>
</body>
</html>
